/* Styles for  Variables*/

:root {
    --color-principal: #2C3E50;
    --ancho-principal: 350px;
}
.titulo {
    color: var(--color-principal);
}
.footer {
    color: var(--color-principal);
}
.contenedor {
    background-color: #A2DED0;
    padding: 1rem;
    max-width: var(--ancho-principal);
}
