@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Quicksand&family=Rubik:ital,wght@0,300;0,600;1,400&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    width: 450px;
}
.buttons {
    align-self: flex-start;
    display: flex;
    gap: 20px;
}
.boton-google {
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}
.boton-google:hover {
    opacity: 0.75;
}
.boton-google picture {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-google picture img {
    width: 75%;
}
.boton-google span {
    color: white;
    font-weight: 500;
    padding: 15px;
}
.boton-twitter {
    color: antiquewhite;
    background-color: darkcyan;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.boton-twitter:hover {
    background-color: gray;
}
.separator {
    display: flex;
    width: 100%;
    gap: 20px;
}
.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid gray;
}
.separator span {
    color: grey;
}
.section-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%;
}
.forms {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}
label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px; 
}
label span {
    font-weight: 700;
}
label input {
    width: 90%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}
.section-inputs label input {
    width: 90%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}
label input:hover {
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #20329c;
}
label input:focus {
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #1A73E8;
}
.checkbox-label {
    display: flex;
    flex-direction: row;
}
.checkbox-label input[type="checkbox"] {
    width: 20px;
}
.checkbox-label span {
    font-weight: 400;
}
.boton-summit {
    height: 3%;
    width: 500px;
    background-color: #EA4C89;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.boton-summit:hover {
    opacity: 0.75;
}
